body {
    margin: 0;
}

header {
    position: relative;
    padding-left: 10.5%;
    height: 100px;
    background-color: #333333;
}

h1 {
    margin: 0;
    color: white;
    line-height: 100px;
}

li {
    display: inline-block;
    list-style-type: none;
}

header ul {
    position: absolute;
    top: 0;
    right: 10%;
}

header a {
    color: white;
}

.banner {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #66bb33;
}

.banner ul {
    position: absolute;
    right: 13%;
    bottom: 0;
    white-space: nowrap;
}

.banner li {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #b2dd99;
    border: 1px solid #335e1a;
}

.banner a {
    color: #66914d;
    text-decoration: none;
}

.banner .active {
    padding-top: 20%;
    color: #3a4b30;
    background-color: #e0f1d6;
}

nav {
    margin-top: 1%;
    padding-left: 10.5%;
    padding-right: 10%;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
    
nav a {
    display: inline-block;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -1px;
    padding: .5% 1%;
    color: black;
    border: 1px solid #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eeeeee;
    text-decoration: none;
}

nav .active {
    background-color: white;
    border-bottom-color: white;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    display: flex;
    margin-top: 1%;
}

.row p {
    margin: 0 .5%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex: 1;
    text-align: center;
    border: 1px solid #dddddd;
}

footer {
    background-color: #333333;
}

footer p {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    text-align: center;
}