<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>布局</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top">
            <h1>Logo</h1>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="banner">
            <ul>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
        <nav>
            <div class="nav">
                <a href="#" class="active">HOME</a>
                <a href="#">PROFILE</a>
                <a href="#">ABOUT</a>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <p>This is Content 1</p>
                <p>MaybeContent 2</p>
                <p>Content 3</p>
            </div>
            <div class="row">
                <p>Content 4</p>
                <p>Content 5</p>
                <p>Content 6</p>
                <p>Content 7</p>
            </div>
            <div class="row">
                <p>Content 8</p>
                <p>Content 9</p>
                <p>Content 10</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2018 ife.baidu.com</p>
    </footer>
</body>
</html>